.generator {
    display: flex;
    padding: 3em;
    width: 60%;
    height: 100vh;
    > * {
        display: flex;
        flex-direction: column;
        width: 50%;
        padding: 2px;
    }

    background-color: lightgray;
}

.participantsArea {
}

.teamsArea {
}

.participantsList {
    list-style-type: none;
    padding-left: 0;
    // padding: 1em 2em;
    background-color: white;
    margin-top: 0;
    border-radius: 8px;
    > li {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        padding: 0 1em;
        > div {
            cursor: pointer;
            font-weight: bolder;
            font-size: 200%;
            color: red;
        }
    }

    > li:nth-child(even) {
        background-color: #EEEEEE;
    }

    > li:last-child {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }
}

.addParticipant { 

}

.shareButton {
    > a {
        font: bold 11px Arial;
        text-decoration: none;
        background-color: #EEEEEE;
        color: green;
        padding: 6px 12px 12px 12px;
        border-top: 1px solid #CCCCCC;
        border-right: 1px solid #333333;
        border-bottom: 1px solid #333333;
        border-left: 1px solid #CCCCCC;
    }
  }